@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App{
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}